<div>
  <h2 id="page-heading" data-cy="CurrencyHeading">
    <span jhiTranslate="gdmApp.currency.home.title">Currencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gdmApp.currency.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-currency"
        [routerLink]="['/currency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdmApp.currency.home.createLabel"> Create a new Currency </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="currencies?.length === 0">
    <span jhiTranslate="gdmApp.currency.home.notFound">No currencies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="currencies && currencies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span jhiTranslate="gdmApp.currency.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countryFlag">
            <span jhiTranslate="gdmApp.currency.countryFlag">Country Flag</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="position">
            <span jhiTranslate="gdmApp.currency.position">Position</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status"><span jhiTranslate="gdmApp.currency.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="gdmApp.currency.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="gdmApp.currency.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="gdmApp.currency.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="gdmApp.currency.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/currency', currency.id, 'view']">{{ currency.id }}</a>
          </td>
          <td>{{ currency.code }}</td>
          <td>{{ currency.countryFlag }}</td>
          <td>{{ currency.position }}</td>
          <td jhiTranslate="{{ 'gdmApp.CurrencyStatus.' + currency.status }}">{{ currency.status }}</td>
          <td>{{ currency.createdBy }}</td>
          <td>{{ currency.createdDate | formatMediumDatetime }}</td>
          <td>{{ currency.lastModifiedBy }}</td>
          <td>{{ currency.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/currency', currency.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(currency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currencies && currencies.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
