<div>
  <h2 id="page-heading" data-cy="DebtHeading">
    <span jhiTranslate="gdmApp.debt.home.title">Debts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gdmApp.debt.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-debt"
        [routerLink]="['/debt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdmApp.debt.home.createLabel"> Create a new Debt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="debts?.length === 0">
    <span jhiTranslate="gdmApp.debt.home.notFound">No debts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="debts && debts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount"><span jhiTranslate="gdmApp.debt.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status"><span jhiTranslate="gdmApp.debt.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dueDate"><span jhiTranslate="gdmApp.debt.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="gdmApp.debt.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="debtScore">
            <span jhiTranslate="gdmApp.debt.debtScore">Debt Score</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="gdmApp.debt.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="gdmApp.debt.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="gdmApp.debt.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="gdmApp.debt.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profile.id">
            <span jhiTranslate="gdmApp.debt.profile">Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.id">
            <span jhiTranslate="gdmApp.debt.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let debt of debts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/debt', debt.id, 'view']">{{ debt.id }}</a>
          </td>
          <td>{{ debt.amount }}</td>
          <td jhiTranslate="{{ 'gdmApp.DebtStatus.' + debt.status }}">{{ debt.status }}</td>
          <td>{{ debt.dueDate | formatMediumDatetime }}</td>
          <td>{{ debt.description }}</td>
          <td>{{ debt.debtScore }}</td>
          <td>{{ debt.createdBy }}</td>
          <td>{{ debt.createdDate | formatMediumDatetime }}</td>
          <td>{{ debt.lastModifiedBy }}</td>
          <td>{{ debt.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="debt.profile">
              <a [routerLink]="['/profile', debt.profile?.id, 'view']">{{ debt.profile?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="debt.currency">
              <a [routerLink]="['/currency', debt.currency?.id, 'view']">{{ debt.currency?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/debt', debt.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/debt', debt.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(debt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="debts && debts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
