<div>
  <h2 id="page-heading" data-cy="ProfileHeading">
    <span jhiTranslate="gdmApp.profile.home.title">Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gdmApp.profile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-profile"
        [routerLink]="['/profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdmApp.profile.home.createLabel"> Create a new Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
    <span jhiTranslate="gdmApp.profile.home.notFound">No profiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="profiles && profiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passport">
            <span jhiTranslate="gdmApp.profile.passport">Passport</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jshshir">
            <span jhiTranslate="gdmApp.profile.jshshir">Jshshir</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inn"><span jhiTranslate="gdmApp.profile.inn">Inn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="phone"><span jhiTranslate="gdmApp.profile.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accessToken">
            <span jhiTranslate="gdmApp.profile.accessToken">Access Token</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="gdmApp.profile.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="gdmApp.profile.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="score"><span jhiTranslate="gdmApp.profile.score">Score</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status"><span jhiTranslate="gdmApp.profile.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="gdmApp.profile.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="gdmApp.profile.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="gdmApp.profile.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="gdmApp.profile.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a>
          </td>
          <td>{{ profile.passport }}</td>
          <td>{{ profile.jshshir }}</td>
          <td>{{ profile.inn }}</td>
          <td>{{ profile.phone }}</td>
          <td>{{ profile.accessToken }}</td>
          <td>{{ profile.firstName }}</td>
          <td>{{ profile.lastName }}</td>
          <td>{{ profile.score }}</td>
          <td jhiTranslate="{{ 'gdmApp.ProfileStatus.' + profile.status }}">{{ profile.status }}</td>
          <td>{{ profile.createdBy }}</td>
          <td>{{ profile.createdDate | formatMediumDatetime }}</td>
          <td>{{ profile.lastModifiedBy }}</td>
          <td>{{ profile.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/profile', profile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/profile', profile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(profile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="profiles && profiles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
